In [2]:
import pandas as pd
md=pd.read_excel('D:/Aditya/datasets/the-interview-attendance-problem/interview.xlsx')
md.head()

,Date,Client name,Industry,Location,Position_Type,SkillSet_Name,Interview_type,Candidate_ID,Gender,Current_Location,...,Venue_Clear,Call_Letter_Received,Expected_Attendance,Observed_Attendance,Marital_Status,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 1,Male,Chennai,...,Yes,Yes,Yes,No,Single,NaN,NaN,NaN,NaN,NaN
1,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 2,Male,Chennai,...,Yes,Yes,Yes,No,Single,NaN,NaN,NaN,NaN,NaN
2,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 3,Male,Chennai,...,NaN,NaN,Uncertain,No,Single,NaN,NaN,NaN,NaN,NaN
3,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 4,Male,Chennai,...,Yes,Yes,Uncertain,No,Single,NaN,NaN,NaN,NaN,NaN
4,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 5,Male,Chennai,...,Yes,Yes,Uncertain,No,Married,NaN,NaN,NaN,NaN,NaN

In [4]:
md.shape

(1234, 28)

In [5]:
md.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1234 entries, 0 to 1233
Data columns (total 28 columns):
Date                      1178 non-null datetime64[ns]
Client name               1234 non-null object
Industry                  1233 non-null object
Location                  1233 non-null object
Position_Type             1233 non-null object
SkillSet_Name             1233 non-null object
Interview_type            1233 non-null object
Candidate_ID              1233 non-null object
Gender                    1233 non-null object
Current_Location          1233 non-null object
Company_Location          1233 non-null object
Interview_Venue           1233 non-null object
Candidate_Hometown        1233 non-null object
Permission_Obtained       1029 non-null object
No_Unscheduled_Meeting    986 non-null object
Follow-Up_Call_OK         986 non-null object
Alternate_Number_Given    986 non-null object
CV_JD_Ready               985 non-null object
Venue_Clear               985 non-null object
Call_Letter_Received      988 non-null object
Expected_Attendance       1228 non-null object
Observed_Attendance       1233 non-null object
Marital_Status            1233 non-null object
Unnamed: 23               0 non-null float64
Unnamed: 24               0 non-null float64
Unnamed: 25               0 non-null float64
Unnamed: 26               0 non-null float64
Unnamed: 27               0 non-null float64
dtypes: datetime64[ns](1), float64(5), object(22)
memory usage: 270.0+ KB

In [10]:
md['Expected_Attendance'].head()

0          Yes
1          Yes
2    Uncertain
3    Uncertain
4    Uncertain
Name: Expected_Attendance, dtype: object